<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <a href="{% url 'bitruschoji4realscrumy:index' %}">About us</a>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text", name="username", placeholder="Username">
        <input type="password", name="password", placeholder="Password">
        <input type="submit", value="Login">
    </form>
    {% if form.errors %}
        <p>Invalid login credentials
        {{ form.errors }}
        </p>
    {% endif %}

</body>
</html>