<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
        <p>Currrent User: {{ request.user }}</p>
        <p>Groups: {{ request.user.groups.first }}</p><br>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Weekly Goals</th>
                <th>Daily Goals</th>
                <th>Verify Goals</th>
                <th>Done Goals</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    {% for goal in weekly_goal %}
                        {% if goal.user == user %}
                            {{ goal.goal_id }} <br> {{goal.goal_name}} <br>
                        {% endif %} 
                    {% endfor %}
                </td>
                <td>
                    {% for goal in daily_goal %}
                        {% if goal.user == user %}
                            {{ goal.goal_id }} <br> {{goal.goal_name}} <br>
                        {% endif %} 
                    {% endfor %}
                </td>
                <td>
                    {% for goal in verify_goal %}
                        {% if goal.user == user%}
                            {{ goal.goal_id }} <br> {{goal.goal_name}} <br>
                        {% endif %} 
                    {% endfor %}
                </td>
                <td>
                    {% for goal in done_goal %}
                        {% if goal.user == user %}
                            {{ goal.goal_id }} <br> {{goal.goal_name}} <br>
                        {% endif %} 
                    {% endfor %}
                </td>
            </tr>       
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'bitruschoji4realscrumy:add_goal' %}"> Add Goal </a> <br>
    
 
</body>
</html>