<div class="container-fluid">
 <h1>Create a new account</h1>
  
  
   <hr>  
   
    <h5>{{ feedbk }}</h5>
   <br>
  <form #userSignupForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form_group">
      <label>Email</label>
      <input type="email" required #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched"  name="email" class="form-control " [(ngModel)]="scrumUserModel.email">
      <div *ngIf="email.errors && (email.invalid || email.touched)">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
        <small class="text-danger" [class.d-none]="email.valid || email.untouched" *ngIf="email.errors.pattern"> and must contains "@" and a "domain.com". Example kim@gmail.com</small>
       </div>
     </div>
    
     <div class="form_group">
      <label>Fullname</label>
      <input required type="text" #fullname="ngModel" [class.is-invalid]="fullname.invalid && fullname.touched" name="fullname" class="form-control" [(ngModel)]="scrumUserModel.fullname">
      <small [class.d-none]="fullname.valid || fullname.untouched" class="text-danger">Fullname is required</small>  
    </div>
      
    <div class="form_group">
      <label>Password</label>
      <input required type="password" #password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}$"  [class.is-invalid]="password.invalid && password.touched" name="password" class="form-control" [(ngModel)]="scrumUserModel.password">
     <div *ngIf="password.errors && (password.invalid || password.touched)">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
      <small class="text-danger" [class.d-none]="password.valid || password.untouched" *ngIf="password.errors.pattern"> and must contain atleast a number, uppercase, lowercase, a special character and must be 8  characters minimum</small>
     </div>
    </div>
    
     <div class="form_group">
     <label>User Type</label>
     <select required class="custom-select" #usertype="ngModel" [class.is-invalid]="usertype.invalid && usertype.touched" name="usertype" class="form-control" [(ngModel)]="scrumUserModel.usertype">
     <option value=""></option>
     <option *ngFor="let type of userTypes">{{ type }}</option>
    </select>
    <small [class.d-none]="usertype.valid || usertype.untouched" class="text-danger">Usertype is required</small>  
     </div>
     <button class="btn btn-primary" type="submit">Submit</button>

  </form>


</div>

<h5>Already have an account? <a routerLink = '/login'>login here</a> </h5>