<div class="container-fluid">
    <br>
        <h1>Login</h1>
        
   <!-- <h6>  {{ userLoginForm.value | json }} </h6> -->
     <br>
         <form #userLoginForm="ngForm" novalidate (ngSubmit)="onLoginSubmit()">
             <div class="form_group">
             <label>Email</label>
             <input required type="email"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" name="email" class="form-control" [(ngModel)]="scrumUserLoginData.email">
             <div *ngIf="email.errors && (email.invalid || email.touched)">
                <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
                <small class="text-danger" [class.d-none]="email.valid || email.untouched" *ngIf="email.errors.pattern"> and must contains '@' and a 'domain.com'. Example kim@gmal.com</small>
               </div> 
            </div>
             
             <div class="form_group">
             <label>Password</label>
             <input required type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}$" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" name="password" class="form-control" [(ngModel)]="scrumUserLoginData.password">
             <div *ngIf="password.errors && (password.invalid || password.touched)">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
            <small class="text-danger" [class.d-none]="password.valid || password.untouched" *ngIf="password.errors.pattern"> and must contain atleast a number, uppercase, lowercase, a special character and must be 8 characters minimum</small>
            </div>
            </div>
            <div class="form_group">
                <label>Project name</label>
                <input required type="text" #projectname="ngModel" [class.is-invalid]="projectname.invalid && projectname.touched" name="projectname" class="form-control" [(ngModel)]="scrumUserLoginData.projectname">
                <small [class.d-none]="projectname.valid || projectname.untouched" class="text-danger">Project name is required</small>  
            </div>
            
            <button class="btn btn-primary" type="submit">Login</button>
       
         </form>
       
       
       </div>
       <h5>Don't have an account? <a routerLink = '/signup'>signup here</a></h5>
       